<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<div class="search-container">
  <input type="text" class="form-control" placeholder="Search.." id="searchBox">
  <button onclick="makeApiCall()" type="submit">Submit</button>
</div>




<%- include('../partials/footer') %>
