<%- include('../partials/header') %>
<%- include('../partials/menu') %>


<div class="search-container">
	<input type="text" placeholder="Search.." name="search" id="searchBox">
	<button onclick="search()" type="submit">Submit</button>
</div>


<%- include('../partials/footer') %>
